<h2 mat-dialog-title>Cheif Complaint</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field class="example-full-width">
        <input type="Number"
               placeholder="Patient Number"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [(ngModel)]="data.complain"
               [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      
      <hr class="style-three">Or<hr>
<mat-form-field class="example-full-width">
  <input type="text"
         placeholder="Paiten Name"
         aria-label="Number"
         matInput
         [formControl]="myControl"
         [(ngModel)]="data.complain"
         [matAutocomplete]="auto">
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close  (click)="onNoClick()">Cancel</button>
  <button mat-mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>Add Complaint</button>
</mat-dialog-actions>
